---
import { render, type CollectionEntry } from 'astro:content';
interface Props {
  service: CollectionEntry<'keyServices'>;
}

const {service} = Astro.props;
const {Content} = await render(service);
---

<article id={service.id}>
    <div class="icon-container">
        <slot></slot>
    </div>
    <h3>{service.data.title}</h3>
    <p>{service.data.description}</p>
</article>

<div>
  <Content />
</div>

<style>


</style>