---
import {type CollectionEntry } from 'astro:content';
// import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
  service: CollectionEntry<'keyServices'>;
}

const {service} = Astro.props;
---

<article class="key-service-card g-box-shadow " id={service.id}>
    <div class="g-circle-container circle-size">
        <Image
          class="g-icon" 
          src={service.data.icon} 
          alt=""
          width={22}
          height={25}
          />
    </div>
    <h3 transition:name={service.data.slug} class="title">{service.data.title}</h3>
    <p>{service.data.description}</p>
    <footer>
      <a class="g-btn-secondary-color btn" href={'/servicios/' + service.data.slug}>Ver Requisitos</a>
      <a class="g-btn-primary-color btn" href="#">Agendar Cita</a>      
    </footer>
  </article>

<style lang="scss">
  .key-service-card {
    background-color: var(--clr-white);
    padding: 1.5rem 1.25rem;
    border-radius: 2rem;
    display: grid;
    gap: 1rem;
    max-width: 40rem;
    margin-inline: auto;
    
    @media (min-width:68rem) {
      padding: 2.5rem;
    }
    .title {
      font-size: var(--fs-md);
      font-family: var(--ff-title);
      font-weight: 700;
      @media (min-width:68rem) {font-size: var(--fs-lg);}
    }

    footer {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: end;
      flex-grow: 1;
    }
  }

  .circle-size {
      width: 3.5rem;
      padding: 1rem;
  }

.btn {
    font-size: 0.875rem;
    padding: 10px 16px;
    border-radius: 2em;
  @media (min-width:68rem) {
    font-size: 1rem;
    padding: 14px 22px;
  }

}
</style>