---
import type { CollectionEntry } from 'astro:content';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
  testimonial: CollectionEntry<'testimonials'>;
}

const {testimonial} = Astro.props;
---

<article id={testimonial.data.slug}>
    <h3>{testimonial.data.name}</h3>
    <p>{testimonial.data.category}</p>
    <p>{testimonial.data.message}</p>
    <Image 
      src={testimonial.data.picture}
      width={24}
      height={24}
      alt={"imagen de perfil de " + testimonial.data.name} />
</article>

<style>


</style>