---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

interface Props {
  testimonial: CollectionEntry<'testimonials'>;
}

const {testimonial} = Astro.props;
---

<article class="card g-box-shadow" id={testimonial.data.slug}>
  <div class="stars">
    {Array.from({ length: 5 }).map(() => (
    <svg
      width="20"
      height="19"
      viewBox="0 0 20 19"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M3.825 19L5.45 11.975L0 7.25L7.2 6.625L10 0L12.8 6.625L20 7.25L14.55 11.975L16.175 19L10 15.275L3.825 19Z" fill="#D4AF37"/>
      </svg>
    ))}
  </div>

    <p class="message">{testimonial.data.message}</p>
    
    <div class="user-row">
      <Image 
        class="image"
        src={testimonial.data.picture}
        width={48}
        height={48}
        alt={"imagen de perfil de " + testimonial.data.name} 
      />

      <div class="text">
        <h3 class="name">{testimonial.data.name}</h3>
        <p class="category">{testimonial.data.category}</p>
      </div>
    </div>
    
</article>

<style lang="scss">
  
  .card {
    background-color: var(--clr-white);
    padding: 1.5rem 1.25rem;
    border-radius: 2rem;
    display: grid;
    gap: 1rem;
    margin-inline: auto;
    @media (min-width:68rem) {
      padding: 2.5rem;
      gap: 2rem;
    }
    .stars {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    .message {
      flex-grow: 1;
    }

    
  }

.user-row {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-grow: 1;

  .image {
    border-radius: 100%;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-weight: var(--fw-title);
    .category {
      opacity: 0.7;
      font-size: 0.75rem;
      letter-spacing: 1.2px;
    }
  }
}



</style>