---
import { Font } from "astro:assets";
import { ClientRouter } from 'astro:transitions';
import "@assets/global.css";
import CookieBanner from "@components/CookieBanner.astro";
import FixedContainer from '@components/sections/FixedContainer.astro';
import Head from "@components/sections/Head.astro";

interface Props {
  title?: string;
  description: string;
  url?: string;
  image?: string;
}

const { 
  title = "Abogada Magdiele", 
  description, 
  url = Astro.url.pathname, 
  image = "/portada-v3.jpg" 
} = Astro.props;

---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="sitemap" href="/sitemap-index.xml" />
		<Head 
			title={title}
			description={description}
			image={image}
			url={url}
		/>	
		<Font cssVariable="--ff-body" />
		<Font cssVariable="--ff-title" />
		<ClientRouter />	

		<script is:inline>
			window.myConsents_rejected = {
				ad_storage: 'denied',
				analytics_storage: 'denied',
				personalization_storage: 'denied',
				functionality_storage: 'granted',
				security_storage: 'granted',
				ad_user_data: 'denied',
				ad_personalization: 'denied',
			}

			window.myConsents_granted = {
				ad_storage: 'granted',
				analytics_storage: 'granted',
				personalization_storage: 'granted',
				functionality_storage: 'granted',
				security_storage: 'granted',
				ad_user_data: 'granted',
				ad_personalization: 'granted',
			}
			
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}

			const consent = localStorage.getItem('cookies-accepted');
			if (consent === 'true') {
				gtag('consent', 'default', {...window.myConsents_granted, wait_for_update: 500});
			} else {
			// null o "false"
				gtag('consent', 'default', {...window.myConsents_rejected, wait_for_update: 500});
			}
		</script>

		<script is:inline>
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-W8LSDJWG');
		</script>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8LSDJWG"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<slot />
		<CookieBanner />	
		<FixedContainer />	
	</body>
</html>
